body{
    margin: 0;
    padding: 0;
    background-color: rgb(3, 1, 1);
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    width: 80%;
    display: block;
    margin: auto;
    padding: 30px 0;
}

input{
    min-width: 250px;
    height: 35px;
    background-color: rgb(14, 12, 12);
    box-shadow: 0px .3px 1px rgb(255, 255, 255);
    border: none;
    margin: 20px auto;
    display: block;
    color: #ddd;
    padding: 5px 10px;
    font-size: 16px;
}

.result{
    width: 80%;
    display: block;
    margin: auto;
    padding: 30px 20px;
    background-color: rgb(7, 5, 5);
}

.item{
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(19, 18, 18);
    border-radius: 5px;
}

h3 span{
    color: rgb(187, 93, 5);
}